div {border: 3px solid blue;
  margin:5px;}
#b1 {blackgraund-color:green;clear:right}
#b2 {blackgraund-color:green;clear:right}
#b3 {width:25%;flout:left;}
#b4 {width:60%;flout:left;}
#b5 {width:13%;flout:left;}
grey1 {blackgraund-color:grey;padding:5px;}
#b6 {blackgraund-color:green;clear:right}
#b7 {blackgraund-color:green;clear:right}
