div {border: solid 3px;color: black;margin: 5px;background: blue;}
#b1 {border: solid 3px; border-color:pink;margin:5px;background:yellow;word-spacing:0.6em;}
grey1 {background:grey; padding:5px;border: solid 3px;margin:2px;border-color:red;letter-spacicg:0.6em;word-spacing:0.7em;}
#b3 {width: 25%;float: left;letter-spacicg:0.5em;}
#b4 {width: 60%;float: left;}
#b5 {width: 13%;float: left;}
#b6 {clear:both;}
